*{
  margin: 0;
  padding: 0;
}
.header{
  background-color: #F5B21A;
  font-size: 18px;
  padding: 0.5em;
  color: white;
  font-weight: bold;
}
.page-footer{
  background-color: grey;
  color: black;
  padding: 1em;
  font-size: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.main-section{
  text-align: center;
  padding: 2em;
  background-color: rgb(226, 226, 226);
  display: flex;
  margin-bottom: 3em;
}
.notes-body{
  margin-top: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 2%;
  background-color: rgb(255, 255, 255);
}